#Python 

pycache/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

#Jupyter Notebooks

.ipynb_checkpoints
/.ipynb_checkpoints/

#Entornos Virtuales

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#Windows

Thumbs.db

#VScode
.vscode/

#Modelos

*.pkl